# Backend build artifacts
backend/bin/
backend/obj/

# Frontend build artifacts
frontend/dist/

# VSCode debugger configuration
.vscode/

# Node modules
frontend/node_modules/

# Hidden file created by macOS
.DS_Store