/* Import variables for color names */
@import "./variables.css";

.button-base {
  background-color: var(--color-light-pink);
  border: 3px solid var(--color-blue-grey);
  color: var(--color-navy);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  font-family: "Inter";
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease,
    border-color 0.3s ease; /* Add border-color transition */
}

.button-base:hover {
  background-color: #b87b6d; /* Change background color on hover */
  border-color: #8a9c96; /* Slightly darker border color on hover */
  transform: scale(1.05); /* Slightly scale up the button */
}

.default-button {
  font-size: 16px;
  margin-top: 100px;
  padding: 15px 32px;
}

.default-button-icon {
  margin-right: 8px;
  color: var(--color-navy);
  font-size: 16px;
}

.delete-day-button {
  font-size: 15px;
  padding: 6px 13px;
  display: inline-block;
}

.add-exercise-button {
  font-size: 15px;
  margin-top: 17px;
  margin-left: 10px;
  padding: 6px 13px;
  display: inline-block;
}

.delete-exercise-button {
  font-size: 13px;
  margin-left: 10px;
  padding: 6px 13px;
  display: inline-block;
  text-wrap: nowrap;
}
.add-set-button {
  font-size: 13px;
  margin-left: 10px;
  padding: 6px 13px;
  display: inline-block;
  text-wrap: nowrap;
}
.delete-set-button {
  font-size: 13px;
  margin-left: 10px;
  padding: 6px 13px;
  display: inline-block;
  text-wrap: nowrap;
}
