/* Import variables for color names */
@import "./variables.css";

.day-card-container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-beige);
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.18);
  transition: background-color 0.3s ease, transform 0.2s ease; /* Add background color transition */
}

.day-card-container:hover {
  background-color: var(--color-very-light-pink);
  transform: scale(1.05);
}

.header-and-delete-button {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  justify-content: center;
  font-family: Inter;
  font-size: 22px;
  color: var(--color-navy);
  text-align: center;
  width: auto;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Add background color transition */
}

.header-and-delete-button:hover {
  transform: scale(1.05);
}

.day-ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 20px;
}

.day-header {
  margin-left: 10px; /* Space between the delete button and the header */
}

.add-exercise-button {
  margin-bottom: 10px; /* Space between the Add Exercise button and the list of exercises */
}
