.day-container{
  display: flex;
  align-items: flex-start; /* Align items to the left */
  margin-left: 20px;
}

.day-header {
  font-family: Inter;
  color: #332727;
  font-size: x-large;
  text-align: center;
  margin-left: 10px;
}

.day-ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0; 
  margin: 0; 
}

