.dropdown-item {
    text-decoration: none; 
    color: rgb(206, 108, 44);; 
    padding: 10px; 
    transition: background-color 0.3s; 
    border-radius: 4px; /* rounded corners */
    font-family: Inter;
    font-weight: bold;
    font-size: x-large;
  }

  .dropdown-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
  }
