/* Import variables for color names */
@import "./variables.css";

.footer {
  position: fixed; /* Fixed position relative to the viewport */
  bottom: 0; /* Align to the bottom of the viewport */
  left: 0; /* Align to the left edge of the viewport */
  width: 100%; /* Full width of the viewport */
  background-color: var(--color-navy); /* Background color */
  color: white; /* Text color */
  text-align: center; /* Center-align the text */
  padding: 20px; /* Padding for spacing */
  z-index: -1; /* Ensure the footer is above other content but not too high */
}
