/* style for the main navbar container */
.navbar {
  padding: 10px;
  background-color: #ffffff;
}

/* style for the list of links */
.nav-list {
  list-style: none;
  display: flex; /* use flexbox */
  justify-content: space-around; /* evenly space items */
  padding: 0; 
  margin: 0; 
}

/* style for list items */
.nav-list li {
  flex: 1; /* each item takes up equal space */
  text-align: center; 
}

/* style for Link components */
.nav-list a {
  text-decoration: none; 
  color: rgb(206, 108, 44);; 
  padding: 10px; 
  transition: background-color 0.3s; 
  border-radius: 4px; /* rounded corners */
  font-family: Inter;
  font-weight: bold;
  font-size: x-large;
}

/* hover effect for the Link components */
.nav-list a:hover {
  background-color: #c7c2c2; 
}
