/* Import variables for color names */
@import "./variables.css";

.page-header {
  font-family: Inter;
  color: var(--color-navy);
  position: absolute;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  margin-top: 30px;
}

/* This class wraps the header so that we can keep the position of the header absolute */
.page-header-wrapper {
  position: relative;
  height: 1px;
}
