.set-form {
  border-color: var(--color-blue-grey);
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  text-align: center;
  box-shadow: none;
  box-sizing: border-box; /* Include padding and border in width and height */
  background-color: white; /* White background for the form */

  color: var(--color-navy);
  transition: background-color 0.3s ease, transform 0.2s ease,
    border-color 0.3s ease; /* Add border-color transition */
}

.set-form input[type="text"] {
  width: 100%; /* Make input take up the full width of the form */
  padding: 5px; /* Add some padding inside the input field */
  border: none; /* Remove default border of input field */
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding is included in the input's width */
  font-family: "Inter";
  text-align: center;
  outline: none;
  color: var(--color-navy);
}

.set-form:hover {
  border-color: var(
    --color-dark-blue-grey
  ); /* Slightly darker border color on hover */
  transform: scale(1.05); /* Slightly scale up the button */
}

.set-ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  margin-left: 10px;
  padding: 0;
  gap: 10px;
}
